  body {
    margin: 0px !important;
    padding: 0px !important;
  }
  #app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .row {
    margin: 2px;
    /* margin-right: 0px !important;
    margin-left: 0px !important; */
  }
  a {
    text-decoration: none !important;
    cursor: pointer !important;
  }
  
  /* width */
  ::-webkit-scrollbar {
    width: 5px !important;
    height: 10px !important;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px grey !important;
    border-radius: 5px !important;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    /* background: #919191 !important; */
    background: #000000 !important;
    border-radius: 5px !important;
  }
  
  .otp-input {
    width: 40px;
    height: 40px;
    padding: 5px;
    margin: 0 10px;
    font-size: 20px;
    border: 1px solid #d6d6d6;
    outline: 0;
    border-width: 1px 1px 1px;
    text-align: "center";
    padding-left: 12px;
  }
  /* Chrome, Safari, Edge, Opera */
  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  
  /* Firefox */
  input[type="number"] {
    -moz-appearance: textfield;
  }
  
  .v-text-field--outlined,
  .v-text-field--solo {
    border-radius: 0px !important;
  }
  .v-text-field--outlined {
    border-radius: 0px !important;
  }
  
  .v-rating .v-icon {
    padding: 0px !important;
  }
  
  .v-slide-group__next,
  .v-slide-group__prev {
    min-width: 20px !important;
  }
  /* .v-text-field.v-text-field--solo .v-input__control input {
      caret-color: #FF3434;
      font-family: 'poppinsregular';
      font-size:14px;
  } */
  input {
    caret-color: #000000;
    font-family: "poppinsregular";
    /* font-size:14px; */
  }
  
  .searchBox .v-input__control {
    min-height: 10px !important;
  }
  .searchBox .v-input__control .v-input__slot {
    padding: 0px !important;
  }
  .myselector.v-text-field.v-text-field--solo .v-input__control {
    min-height: 25px !important;
    padding: 0;
  }
  .v-input--selection-controls {
    margin-top: 0px !important;
    padding-top: 0px !important;
  }
  /* .v-list-item {
    min-height: 25px !important;
    padding: 0px !important;
  }
  .v-list-item__content {
    padding: 0px !important;
  } */
  .v-list {
    padding: 0px !important;
  }
  .styloopinputlabel {
    font-family: opensansbold;
    color: #000000;
    font-size: 13px;
    padding-left: 10px;
  }
  .v-btn--outlined{
    background-color: transparent !important;
  }
  .transparentBtn{
    background-color: transparent !important;
  }
  .analyticsSelector {
    background-color: #f5f7fc;
  }
  @media only screen and (min-device-width: 767px) {
    .fixedSidebar {
      /* position: fixed; */
      position: -webkit-sticky; /* Safari */
      position: sticky;
      top: 50;
    }
  }
  @media only screen and (min-device-width: 360px) and (max-device-width: 640px) {
    .fixedSidebar {
      display: none !important;
    }
  }
  .popbold {
    font-family: poppinsbold;
  }
  .ibmbold {
    font-family: ibmbold;
  }
  .ibmsemibold {
    font-family: ibmsemibold;
  }
  .ibmthin {
    font-family: ibmthin;
  }
  .ibmlight {
    font-family: ibmlight;
  }
  .ibmregular {
    font-family: ibmregular;
  }
  .ibmmedium {
    font-family: ibmmedium;
  }
  .ivyregular {
    font-family: ivyregular;
  }
  .xlarge {
    font-size: 34px;
  }
  .large {
    font-size: 30px;
  }
  .medium {
    font-size: 20px;
  }
  .smalll {
    font-size: 18px;
  }
  .small {
    font-size: 16px;
  }
  .smallm {
    font-size: 14px;
  }
  .xsmall {
    font-size: 12px;
  }
  .cblack {
    color: #000000;
  }
  .cwhite {
    color: #FFFFFF;
  }
  
  .cgreen {
    color: #3EA56E;
  }
  .cgrey
  {
  color: #808080;
  }
  .curve {
    border-radius: 3px
  }
