
  @font-face {
    font-family: poppinsthin;
    src: url("./../fonts/poppinsthin.woff");
  }
  @font-face {
    font-family: poppinslight;
    src: url("./../fonts/poppinslight.woff");
  }
  @font-face {
    font-family: poppinsregular;
    src: url("./../fonts/poppinsregular.woff");
  }
  @font-face {
    font-family: poppinsmedium;
    src: url("./../fonts/poppinsmedium.woff");
  }
  @font-face {
    font-family: poppinssemibold;
    src: url("./../fonts/poppinssemibold.woff");
  }
  @font-face {
    font-family: poppinsbold;
    src: url("./../fonts/poppinsbold.woff");
  }
 
  @font-face {
    font-family: opensanslight;
    src: url("./../fonts/opensanslight.woff");
  }
  @font-face {
    font-family: opensansregular;
    src: url("./../fonts/opensansregular.woff");
  }
  @font-face {
    font-family: opensanssemibold;
    src: url("./../fonts/opensanssemibold.woff");
  }
  @font-face {
    font-family: opensansbold;
    src: url("./../fonts/opensansbold.woff");
  }
  @font-face {
    font-family: kumbhsansregular;
    src: url("./../fonts/kumbhsansregular.woff");
  }
  @font-face {
    font-family: kumbhsansbold;
    src: url("./../fonts/kumbhsansbold.woff");
  }
  /* @font-face {  font-family: poppinsthin; 
    font-weight: 300;  font-style: normal; 
    font-display: swap; 
      unicode-range: U+000-5FF; 
  src: local( poppinsthin),     
  url('./../fonts/poppinsthin-webfont.woff') format('woff'),  
             url('./../fonts/poppinsthin-webfont.woff2') format('woff2');}
  */
  @font-face {
    font-family: ibmbold;
    src: url("./../fonts/IBMPlexSans-Bold.ttf");
  }
  @font-face {
    font-family: ibmlight;
    src: url("./../fonts/IBMPlexSans-Light.ttf");
  }
  @font-face {
    font-family: ibmmedium;
    src: url("./../fonts/IBMPlexSans-Medium.ttf");
  }
  @font-face {
    font-family: ibmregular;
    src: url("./../fonts/IBMPlexSans-Regular.ttf");
  }
  @font-face {
    font-family: ibmsemibold;
    src: url("./../fonts/IBMPlexSans-SemiBold.ttf");
  }
  @font-face {
    font-family: ibmthin;
    src: url("./../fonts/IBMPlexSans-Thin.ttf");
  }
  @font-face {
    font-family: sofialight;
    src: url("./../fonts/sofiaProLight.otf");
  }
  @font-face {
    font-family: ivyregular;
    src: url("./../fonts/IvyMode-Regular.ttf");
  }